# Introduction to  Python

![Logo Paython]()

Python is a high-level, interpretive, general-purpose dynamic programming language with a strong emphasis on code readability.Python’s syntax allows programmers to code in fewer steps. Because of its numerous programming paradigms, Python is commonly employed in larger enterprises. In most cases, imperative and object-oriented functional programming is used. It comes with a vast and comprehensive standard library, as well as automatic memory management and various features.

Van Rossum worked as an implementer of the ABC programming language at CWI (Centrum Voor Wiskunde en Informatica) in the early 1980s. Later, when working on a new distributed operating system called AMOEBA at CWI in the late 1980s, Van Rossum began exploring a scripting language with a syntax similar to ABC but with access to the Amoeba system calls. As a result, Van Rossum set out to create a new simple scripting language that could overcome ABC’s limitations.

Van Rossum began working on the new script in the late 1980s, and the first version of the programming language was released in 1991. Modula-3 is the module system used in this initial release. Python was the name given to this programming language later on.



Most of the programming constructs that are available in Python are also available in T-SQL. Our intention is not to learn Python in full detail, but to learn Python constructs that enable us to consume the unique Python libraries and data processing / computation mechanisms that are not available in T-SQL.

# Start programming Python

To start entering the world of Python we need to know some basic concepts that I will show you now.

# Python Comment

Comments are very important while writing a program. They describe what is going on inside a program, so that a person looking at the source code does not have a hard time figuring it out.

You might forget the key details of the program you just wrote in a month's time. So taking the time to explain these concepts in the form of comments is always fruitful.

In Python, we use the hash (#) symbol to start writing a comment.

It extends up to the newline character. Comments are for programmers to better understand a program. Python Interpreter ignores comments.

In [7]:
#This is a comment
#print out Hello
print('Hello')

Hello

# Multi-line comments

We can have comments that extend up to multiple lines. One way is to use the hash(#) symbol at the beginning of each line. For example:

In [8]:
#This is a long comment
#and it extends
#to multiple lines

Another way of doing this is to use triple quotes, either ''' or """.

These triple quotes are generally used for multi-line strings. But they can be used as a multi-line comment as well. Unless they are not docstrings, they do not generate any extra code.

In [9]:
"""This is also a
perfect example of
multi-line comments"""

'This is also a\nperfect example of\nmulti-line comments'

# Docstrings in Python

A docstring is short for documentation string.

Python docstrings (documentation strings) are the string literals that appear right after the definition of a function, method, class, or module.

Triple quotes are used while writing docstrings. For example:

In [11]:
def double(num):
    """Function to double the value"""
    return 2*num

Docstrings appear right after the definition of a function, class, or a module. This separates docstrings from multiline comments using triple quotes.

The docstrings are associated with the object as their __doc__ attribute.

So, we can access the docstrings of the above function with the following lines of code:

In [12]:
def double(num):
    """Function to double the value"""
    return 2*num
print(double.__doc__)

Function to double the value

# Python Statement

nstructions that a Python interpreter can execute are called statements. For example, a = 1 is an assignment statement. if statement, for statement, while statement, etc. are other kinds of statements which will be discussed later.

# Multi-line statement:
In Python, the end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character (\). For example:

In [13]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9

This is an explicit line continuation. In Python, line continuation is implied inside parentheses ( ), brackets [ ], and braces { }. For instance, we can implement the above multi-line statement as:

In [14]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)

Here, the surrounding parentheses ( ) do the line continuation implicitly. Same is the case with [ ] and { }. For example:

In [15]:
colors = ['red',
          'blue',
          'green']

We can also put multiple statements in a single line using semicolons, as follows:

In [16]:
a = 1; b = 2; c = 3

# Python Variables
A variable is a named location used to store data in the memory. It is helpful to think of variables as a container that holds data that can be changed later in the program. For example,

number = 10

Here, we have created a variable named number. We have assigned the value 10 to the variable.

You can think of variables as a bag to store books in it and that book can be replaced at any time.

In [17]:
number = 10
number = 1.1

# Assigning values to Variables in Python
As you can see from the above example, you can use the assignment operator = to assign a value to a variable.

Example: Declaring and assigning value to a variable

In [18]:
website = "utaltamira.edu.mx"
print(website)

utaltamira.edu.mx

In the above program, we assigned a value utaltamira.edu.mx  to the variable website. Then, we printed out the value assigned to website i.e. utaltamira.edu.mx

# Constants
A constant is a type of variable whose value cannot be changed. It is helpful to think of constants as containers that hold information which cannot be changed later.

You can think of constants as a bag to store some books which cannot be replaced once placed inside the bag.

# Assigning value to constant in Python
In Python, constants are usually declared and assigned in a module. Here, the module is a new file containing variables, functions, etc which is imported to the main file. Inside the module, constants are written in all capital letters and underscores separating the words.

# Literals
Literal is a raw data given in a variable or constant. In Python, there are various types of literals they are as follows:

# Numeric Literals
Numeric Literals are immutable (unchangeable). Numeric literals can belong to 3 different numerical types: Integer, Float, and Complex.

Example: How to use Numeric literals in Python?

In [29]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In the above program,

We assigned integer literals into different variables. Here, a is binary literal, b is a decimal literal, c is an octal literal and d is a hexadecimal literal.
When we print the variables, all the literals are converted into decimal values.
10.5 and 1.5e2 are floating-point literals. 1.5e2 is expressed with exponential and is equivalent to 1.5 * 102.
We assigned a complex literal i.e 3.14j in variable x. Then we use imaginary literal (x.imag) and real literal (x.real) to create imaginary and real parts of complex numbers.

# Data types in Python
Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

There are various data types in Python. Some of the important types are listed below.

# Python Numbers
Integers, floating point numbers and complex numbers fall under Python numbers category. They are defined as int, float and complex classes in Python.

We can use the type() function to know which class a variable or a value belongs to. Similarly, the isinstance() function is used to check if an object belongs to a particular class.

In [30]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

# Python List
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].

a = [1, 2.2, 'python']

We can use the slicing operator [ ] to extract an item or a range of items from a list. The index starts from 0 in Python.

In [31]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

# Type Conversion
The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

Implicit Type Conversion
Explicit Type Conversion

# Implicit Type Conversion
In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

Example: Converting integer to float

In [32]:
num_int = 512
num_flo = 5.12

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 517.12
datatype of num_new: <class 'float'>

# Explicit Type Conversion
In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.

This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

Syntax :

<required_datatype>(expression)
Typecasting can be done by assigning the required data type function to the expression.

In [33]:
num_int = 512
num_str = "875"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 1387
Data type of the sum: <class 'int'>

# The print statement

The print() function prints the given object to the standard output device (screen) or to the text stream file. Remember the time when you wrote your first program? Yes! I am talking about the “Hello World” program, which is probably the first program which anyone learns in their life. That one line of the program has a print statement that we use daily in our programming without even knowing its intricacies. The purpose of the print() statement is to print the given object to the standard output device or to the text stream file.

Syntax:

print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

As we have seen the basic syntax of a print function,

# Parameters of Print Statement in Python

let us discuss its parameters in details:

objects: This signifies the object to be printed, * indicates that there can be more than one object.
sep: This signifies the separation which would be between the different objects. By default, this value is ‘‘.
end: The value for this parameter is printed at last.
file: It should be an object with a write(str) method. If this value is not mentioned, it prints objects on the standard output device, i.e. screen.
flush: The stream gets forcibly flushed if this value is True. By default, this value is False.


# Calling Print Function
To call the print function, we just need to write print followed by the parenthesis (). It tells Python that we are actually calling the function and not referring to it by its name. Just calling print() would produce an invisible newline character. But using Python String literal ‘\n’ is a better option for printing a new line.

# Newlines
Code:

In [34]:
print("Hello everyone this is my test")
print("\n")
print("Welcome")

Hello everyone this is my test


Welcome

For Multiple Newlines:
Code:

In [36]:
print("Hi there")
print(5*"\n")
print("sayonara")

Hi there






sayonara

# Sending Multiple Objects with Sep and End Parameters
Code:

In [38]:
print('Amo','los','tacos',sep=' ',end='!!!')

Amo los tacos!!!

# Using String Concatenation
Code:

In [39]:
string1 = "Hi "
string2 = "How are u? "
string3 = "nice to meet u"
string4 = "!!!"
print(string1+string2+string3+string4)

Hi How are u? nice to meet u!!!

# Using f-strings for String Concatenation
Code:

In [42]:
import datetime
now = datetime.datetime.now()
print(f'Current time is {now}')

Current time is 2021-09-16 00:05:35.519231

# Using Positional Arguments
Code:

In [43]:
import datetime
now = datetime.datetime.now()
print('Current time is',now)

Current time is 2021-09-16 00:06:24.568140

# Python if Statement

is used for decision-making operations. It contains a body of code which runs only when the condition given in the if statement is true. If the condition is false, then the optional else statement runs which contains some code for the else condition.

When you want to justify one condition while the other condition is not true, then you use Python if else statement.

Python if Statement Syntax:

if 
expression

 Statement
 
else 

 Statement

# Python if…else Flowchart

![if_then_flowchart](https://cdn.guru99.com/images/2013/04/if_then_flowchart.png)

Let’s see an example of Python if else Statement:

In [8]:
def main():
	x,y =2,8
	
	if(x < y):
		st= "x is less than y"
	print(st)
	
if __name__ == "__main__":
	main()

x is less than y

# The else condition
is usually used when you have to judge one statement on the basis of other. If one condition goes wrong, then there should be another condition that should justify the statement or logic.

Example:

In [9]:
def main():
	x,y =8,4
	
	if(x < y):
		st= "x is less than y"
	else:
		st= "x is greater than y"
	print (st)
	
if __name__ == "__main__":
	main()

x is greater than y

if condition – It is used when you need to print out the result when one of the conditions is true or false.

else condition- it is used when you want to print out the statement when your one condition fails to meet the requirement

# Introduction Loops in Python

# While Loops
The common strategy behind while loops are they execute a set of statements until the given condition is satisfied. The next statement call happens at the instance when the specified condition is satisfied. The use of indented code segments determines the segment or the body of the loop. Indentation starts the loop, and the line from which it starts to be unindented represents the end of the mentioned loop. All non-zero values are interpreted as true here.

# Flowchart

![flow](https://www.educba.com/academy/wp-content/uploads/2019/09/2019-09-20.jpg)

Whereas While loops, unlike For loops, are repeated as many times as a loop condition is met. For instance

In [19]:
# Muestra 0,1,2,3,4

count = 0
while count < 5:
    print (count)
    count += 1  # Esto es lo mismo que escribir:  count = count + 1

0
1
2
3
4

# For Loops
For traversing a sequential statement set, these loops are implied. The persistence of the loop is passed on pending the last item in the series is executed. While loop here to the content of the loop is separated from the rest of the code by introducing the indentation. As like while loop here to indentation plays an important role in determining the body of the loop involved. Indentation starts the loop, and the line from which it starts to be unindented represents the end of the mentioned loop.

![for](https://www.educba.com/academy/wp-content/uploads/2019/09/2019-09-20-1.jpg)

Example:

In [25]:
Pizzas = [2,3,5,7]
for prime in Pizzas:
    print (Pizzas)

[2, 3, 5, 7]
[2, 3, 5, 7]
[2, 3, 5, 7]
[2, 3, 5, 7]

For loops you can iterate over a sequence of numbers using the "range" and "xrange" functions. The difference between range and range is that the range function returns a new list with numbers that the range specifies, where xrange returns an iterator, which is very efficient. (Python 3 uses the range function, which acts like xrange). Note that the xrange function is zero-based.

# break & continue loops
break is used to break out of a loop or while loop, where continue is used to skip the current block, and return "for" or "while" statements. Here are some examples:

In [38]:
# Show us 0,1,2,3,4

count = 0
while True:
    print (count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

# Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Example
Print each adjective for every fruit:

In [39]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry